<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="GCP_JSON" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target> 
    <encoder>
      <pattern>{"severity":"%level", "time":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}", "logger":"%logger", "message":"%replace(%msg){'"', '\"'}"}%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="GCP_JSON" />
  </root>
</configuration>
